@model IEnumerable<Phone_web.Models.Order>

@{
    ViewBag.Title = "donhang";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h2 class="title text-center  title">📄 Danh Sách Đơn Hàng</h2>

    <table class="table table-bordered table-hover align-middle">
        <thead class="table" style="background-color: #e7f1ff; ">
            <tr>
                <th>ID Đơn hàng</th>
                <th>SĐT</th>
                <th>Địa chỉ</th>
                <th>Tổng tiền</th>
                <th>Tình trạng </th>
                <th>Phương thức thanh toán</th>
                <th>Trạng thái đơn</th>
                <th>Ngày</th>
                @*<th>Chức năng</th>*@

               
            </tr>
        </thead>

        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderID</td>
                    <td>@order.CusPhone</td>
                    <td>@order.AddressDelivery</td>
                    <td>@order.TotalValue</td>

                    <td>@order.PaymentStatus</td>
                    <td>@order.PaymentMethod</td>
                    <td>@order.OrderStatus</td>
                    <td>@order.OrderDate</td>
                    
                    @*<td class="text-center">

                        @Html.ActionLink("🔍 Chi tiết", "chittietdh", "Order", new { id = order.OrderID, area = "Admin" }, new { @class = "btn btn-info btn-sm" })



                        @Html.ActionLink("Xóa", "xoadh", "Order", new { id = order.OrderID, area = "Admin" }, new { @class = "btn btn-warning text-dark  fw-bold" })

                    </td>*@
                </tr>
            }       

        </tbody>
       

       
    </table>

    
</div>




